# Backend
SPRING_PROFILES_ACTIVE=dev

# Database
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=smartvibe
MYSQL_USER=smartvibe
MYSQL_PASSWORD=smartvibe

# Frontend
VITE_API_BASE_URL=http://localhost:8080/api/v1
